@import "../base/variables";

/* Body */

body {
    background-image: url(https://i.pinimg.com/564x/7c/8b/9a/7c8b9ad1d3d194e553322885363913f0.jpg);
    background-repeat: repeat;
    background-position: center;
}