@import "../base/variables";
@import "../base/mixin";

/*HTML INDEX*/
/* Header */

header {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 192, 213, 0.7764705882);
}

.container-fluid {
    display: flex;
    flex-direction: column;

    .navbar-brand {
        width: 100%;
        margin-left: 90%;
    }
}

.contenedorlogo {
    display: flex;
    justify-content: center;

    .Logo {
        width: 20%;
        border-radius: 80%;
    }
}

a {
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
}

p a {
    background-color: #af4cac;

    /* Color de fondo del botón */
    color: white;

    /* Color del texto del botón */
    padding: 10px 20px;

    /* Espaciado interno del botón */
    text-decoration: none;

    /* Quita el subrayado del enlace */
    border-radius: 5px;

    /* Borde redondeado del botón */

    &:hover {
        background-color: #a04566;

        /* Cambio de color al pasar el mouse sobre el botón */
    }
}

/* Main */

main {
    margin: 20px 0px;
    padding: 20px;
}


h1 {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
}